<style type="text/css">
<!--
body, td{
	margin: 0px;
	font: 12px Arial, Helvetica, sans-serif;
	text-align: left;
}
html, body {
	scrollbar-face-color: #15A3D9;
	scrollbar-highlight-color: #555555;
	scrollbar-3dlight-color: #555555;
	scrollbar-darkshadow-color: #60B7DE;
	scrollbar-shadow-color: #555555;
	scrollbar-arrow-color: #FFFFFF;
	scrollbar-track-color: #A4D6EA;
	background: #dae6f3;
}
.tableborder {
	outline: 1px solid #525C3D;
	border: 0px !important;
	> border: 1px solid #525C3D !important;
	border: 1px solid #525C3D;
	empty-cells: show;
	border-collapse: separate !important;
	> border-collapse: collapse !important;
	border-collapse: collapse;
}

.tableborder td {
	border-bottom: 1px solid #BBDCF1;
	line-height: 1.5em;
	height: 2em;
	padding: 4px;
	background: #FFFFFF;
}
.tableborder td ul, .tableborder td ul li {
	line-height: 22px;
	margin-bottom: 0px;
	margin-top: 0px;
}
.tableborder td img {
	margin-top: 8px;
}
.tableborder td .smalltxt {
	line-height: 20px;
}
.sub td.altbg1 {
	padding-left: 1.5em;
}
.category td {
	color: #333333;
	background-color: #F0F0F0;
}
td.altbg1, .altbg1 td {
	background: #F1F5F8;
}
td.altbg2, .altbg2 td {
	background: #FFFFFF;
}
.header td {
	/*background: url(bg_list.gif) repeat-x;*/
	line-height: 16px;
	height: 31px !important;
	> height: 30px !important;
	height: 30px;
	font-weight: bold;
	color: #FFFFFF;
	border-bottom: 1px solid #525C3D;
	padding: 0px 8px;
}

.jswizard tr {
	border-top: 1px solid #BBDCF1;
	border-left: 1px solid #BBDCF1;
}

.jswizard td {
	border: 1px solid #BBDCF1;
	border: 1px solid #BBDCF1;
	padding: 2px;
}

.header a{
	color: #FFFFFF;
}
-->
</style>
<table width="100%" border="0" cellpadding="2" cellspacing="6"><tr><td></td></tr></table><div style="padding: 0px 8px 0px 8px;" id="insenz_body"><br /><br /><br /><br /><br /><br />
<table width="500" border="0" cellpadding="0" cellspacing="0" align="center" class="tableborder">
<tr class="header"><td>系统提示</td></tr><tr><td class="altbg2"><div align="center">
<br /><br /><br /><?=preg_replace("/(#\d+)/", "<br>", $msg)?><br /><br /></div><br /><br />
</td></tr></table>
<br /><br /><br />
</td></tr></table>